<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title><%=title%></title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="/css/styles.css" rel="stylesheet">  
	</head>
	<body>
<header class="navbar navbar-bright navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Home</a>
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <%if (loggedInFlag){%> 
          <%if (LoggedUser.adminrole == 'USER'){%>
          <% for(var i=0; i<nav.length; i++){ %> 
          <li>
              <%if (nav[i].previlage == 'BOTH'){%>
              <a href="<%=nav[i].link%>"><%=nav[i].name%></a>
              <%}%>
          </li>        
          <%}%>
        <%}%>
        <%if (LoggedUser.adminrole == 'ADMIN'){%>
          <% for(var i=0; i<nav.length; i++){ %> 
          <li>
              <a href="<%=nav[i].link%>"><%=nav[i].name%></a>
          </li>        
          <%}%>
        <%}%>
      <%}%> 
      </ul>
  
      <ul class="nav navbar-right navbar-nav">
        <%if(loggedInFlag){%>
        <li><a href="#">Logged User :<%=LoggedUser.firstname%></a></li>
        <li><a href="/logout">Log Out</a></li>
        <%}%>
        <%if(!loggedInFlag) {%>
        <li><a href="/login">Login</a></li>   
        <li><a href="/signup">Sign Up</a></li>        
        <%}%> 

      </ul>
    </nav>
  </div>
</header>

<div id="masthead">  
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>Edit Book
          <p class="lead"></p>
        </h1>
      </div>
      <div class="col-md-5">
        <!-- <div class="well well-lg">  -->
          <div class="row">
            <div class="col-sm-12">
              
			
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div><!-- /cont -->
  
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- <div class="top-spacer"> </div> -->
      </div>
    </div> 
  </div><!-- /cont -->
  
</div>

<br>
<div class="container-fluid" >
  <div class="row">
    
    <div class="col-md-12"> 
      
      <div class="panel" >
        <div class="panel-body" style="background: #9FA8DA;">
          
          <div class="row Login-container p-2 " >
            <div class="col-lg-4"></div>
            <!-- sign in form -->
            <div class="col-lg-4  p-5 m-3 EditPage-row rounded" style="background-color : #C5CAE9; ">

              <!-- <form id        =  "uploadForm"
              enctype   =  "multipart/form-data"
              action    =  "/admin/editBook/edit"
              method    =  "post"
         >                 <label for="EditBookTitle" class="form-label EditPage-label ">Title&nbsp;<strong style="color: red;">*</strong></label>
         <span id="EditBookTitleSpan"></span>
         <input type="text" class="form-control"  id="EditBookTitle" name='title' placeholder="Enter the Book Title" value="<%=book.title%>">

         <input type="file" name="image" />
         <input type="submit" value="Upload Image" name="submit">
         </form> -->
              <form class="row mt-5 " id ="EditBookForm" method="post" onsubmit="return validateEditBookData()"   enctype=  "multipart/form-data" action="/admin/editBook/edit" >
                <span id="EditBookAlertMsg"></span> 
                <div class="form-group p-5 col-md-12 ">
                  <br>
                  <input type="hidden" class="form-control"  id="EditBookID" name='id' placeholder="Enter the Book Title" value="<%=book._id%>">
                  <label for="EditBookTitle" class="form-label EditPage-label ">Title&nbsp;<strong style="color: red;">*</strong></label>
                  <span id="EditBookTitleSpan"></span>
                  <input type="text" class="form-control"  id="EditBookTitle" name='title' placeholder="Enter the Book Title" value="<%=book.title%>">
                </div>                
                <div class="form-group p-5 col-md-12 ">
                  <label for="EditBookAuthor" class="form-label EditPage-label ">Author&nbsp;<strong style="color: red;">*</strong></label>
                  <span id="EditBookAuthorSpan"></span>
                  <input type="text" class="form-control"  id="EditBookAuthor" name='author' placeholder="Enter the Author"  value="<%=book.author%>">
                </div>
                <div class="form-group p-5 col-md-12 ">
                  <label for="EditBookGenre" class="form-label EditPage-label ">Genre&nbsp;<strong style="color: red;">*</strong></label>
                  <span id="EditBookGenreSpan"></span>
                  <input type="text" class="form-control"  id="EditBookGenre" name='genre' placeholder="Enter the Genre"  value="<%=book.genre%>">
                </div>   
                <div class="form-group p-5 col-md-12 ">
                  <label for="editBookdesc" class="form-label addPage-label ">Description&nbsp;</label>
                  <span id="editBookDescSpan"></span>
                  <textarea class="form-control" id="editBookdesc" rows="3" name='description' value="<%=book.description%>"><%=book.description%></textarea>
                </div>              
                <div class="form-group p-5 col-md-12 ">
                  <label for="EditBookImage" class="form-label EditPage-label ">Image&nbsp;</label>
                  <span id="EditBookImageSpan"></span>
                  <input type="file" class="form-control" id="EditBookImage" name='image' />
                </div>      
                <div class="form-group p-5 col-md-12 ">
                  <label for="PreviewBookImage" class="form-label EditPage-label ">Image Preview&nbsp;</label>
                  <span id="PreviewBookImage"></span>
                  <img src="/images/<%=book.image%>" style="width: 15em; height: 10em;">
                </div>                             
                <div class="form-group col-md-11 d-grid p-3 text-center">
                  <label for="UserConfirmation" class="form-label EditPage-label ">Do you want to update this book?&nbsp;</label> <br> 
                  <button type="submit" class="btn btn-primary " name="save" value="Yes">Yes</button>
                  <a href="/books" id="cancel" name="cancel" class="btn btn-primary ">No</a>
              </div>
              </div>
              </form>
            </div>
            <div class="col-lg-2"></div>
          </div>     

          <!-- binitta -->
          
          <!--/stories-->
          <!-- <div class="row">    
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-title" href="#"><img alt="" src="http://api.randomuser.me/portraits/thumb/men/58.jpg" style="width:100px;height:100px" class="img-circle"></a>
            </div>
            <div class="col-md-10 col-sm-9">
              <h3>Repurpose Content to Reach a Wider Audience</h3>
              <div class="row">
                <div class="col-xs-9">
                  <h4><span class="label label-default">97thfloor.com</span></h4><h4>
                  <small style="font-family:courier,'new courier';" class="text-muted">2 hours ago  • <a href="#" class="text-muted">Read More</a></small>
                  </h4></div>
                <div class="col-xs-3"></div>
              </div>
              <br><br>
            </div>
          </div>
          <hr>
          
          <div class="row">    
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-title" href="#"><img alt="" src="http://api.randomuser.me/portraits/thumb/women/56.jpg" style="width:100px;height:100px" class="img-circle"></a>
            </div>
            <div class="col-md-10 col-sm-9">
              <h3>14 Useful Sites for Designers</h3>
              <div class="row">
                <div class="col-xs-9">
                  <h4><span class="label label-default">devgarage.com</span></h4><h4>
                  <small style="font-family:courier,'new courier';" class="text-muted">Yesterday • <a href="#" class="text-muted">Read More</a></small>
                  </h4></div>
                <div class="col-xs-3"></div>
              </div>
              <br><br>
            </div>
          </div>
          <hr>
                  
          <div class="row">    
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-title" href="#"><img alt="" src="http://api.randomuser.me/portraits/thumb/men/29.jpg" style="width:100px;height:100px" class="img-circle"></a>
            </div>
            <div class="col-md-10 col-sm-9">
              <h3>Measuring Your Link Building with Google Analytics</h3>
              <div class="row">
                <div class="col-xs-9">
                  <h4><span class="label label-default">searchenginewatch.com</span></h4><h4>
                  <small style="font-family:courier,'new courier';" class="text-muted">Yesterday • <a href="#" class="text-muted">Read More</a></small>
                  </h4></div>
                <div class="col-xs-3"></div>
              </div>
              <br><br>
            </div>
          </div>
          <hr>

          <div class="row">    
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-title" href="#"><img alt="" src="http://api.randomuser.me/portraits/thumb/women/56.jpg" style="width:100px;height:100px" class="img-circle"></a>
            </div>
            <div class="col-md-10 col-sm-9">
              <h3>Dramatically Raise the Value of Any Piece of Content with These 27 Tactics</h3>
              <div class="row">
                <div class="col-xs-9">
                  <h4><span class="label label-default">searchenginewatch.com</span></h4><h4>
                  <small style="font-family:courier,'new courier';" class="text-muted">2 days ago • <a href="#" class="text-muted">Read More</a></small>
                  </h4></div>
                <div class="col-xs-3"></div>
              </div>
              <br><br>
            </div>
          </div>
          <hr>
          
          <div class="row">    
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-title" href="#"><img alt="" src="http://api.randomuser.me/portraits/thumb/men/29.jpg" style="width:100px;height:100px" class="img-circle"></a>
            </div>
            <div class="col-md-10 col-sm-9">
              <h3>TrendPaper - What's Trending in the World</h3>
              <div class="row">
                <div class="col-xs-9">
                  <h4><span class="label label-default">betali.st</span></h4><h4>
                  <small style="font-family:courier,'new courier';" class="text-muted">Last week • <a href="#" class="text-muted">Read More</a></small>
                  </h4></div>
                <div class="col-xs-3"></div>
              </div>
              <br><br>
            </div>
          </div>
          <hr> -->
          <!--/stories-->
          
          
       
          
        </div>
      </div>
                                                                                       
	                                                
                                                      
   	</div><!--/col-12-->
  </div>
</div>
                                                
                                                                                
<hr>

<div class="container" id="footer">
  <div class="row">
    <div class="col col-sm-12">
      
      <h1>Follow Us</h1>
      <div class="btn-group">
       <a class="btn btn-twitter btn-lg" href="#"><i class="icon-twitter icon-large"></i> Twitter</a>
	   <a class="btn btn-facebook btn-lg" href="#"><i class="icon-facebook icon-large"></i> Facebook</a>
	   <a class="btn btn-google-plus btn-lg" href="#"><i class="icon-google-plus icon-large"></i> Google+</a>
      </div>
      
    </div>
  </div>
</div>

<hr>

<hr>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <ul class="list-inline">
          <li><i class="icon-facebook icon-2x"></i></li>
          <li><i class="icon-twitter icon-2x"></i></li>
          <li><i class="icon-google-plus icon-2x"></i></li>
          <li><i class="icon-pinterest icon-2x"></i></li>
        </ul>
        
      </div>
      <div class="col-sm-6">
          <p class="pull-right">Built with <i class="icon-heart-empty"></i> at <a href="http://www.bootply.com">Bootply</a></p>      
      </div>
    </div>
  </div>
</footer>
	<!-- script references -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
    <script src="/js/index.js"></script>

	</body>
</html>